<div  *ngFor="let node of treeData" >
  <div>
    <div class="virtualized-traceView-row">
      <div class="flex-row span-row is-expanded">
        <div style="flex-basis: 25%; max-width: 25%;" class="ub-relative span-name-column">
          <div class="span-name-wrapper">
          <span class="span-tree-offset">
            <span *ngFor="let i of counter(node.index)" class="span-tree-offset-indentGuide"></span>
<!--            <span class="span-tree-offset-indentGuide"></span>-->
          </span>
            <a style="border-color: rgb(23, 184, 190);" class="span-name is-detail-expanded">
              <span class="span-svc-name">{{node.name}}</span>
              <small class="endpoint-name">{{node.name}}</small>
            </a>
          </div>
        </div>
        <div style="cursor: pointer;flex-basis: 75%;max-width: 75%;" class="ub-relative span-view">
          <div class="ticks">
            <div class="ticks-tick" style="left: 0%"></div>
            <div class="ticks-tick" style="left: 25%"></div>
            <div class="ticks-tick" style="left: 50%"></div>
            <div class="ticks-tick" style="left: 75%"></div>
            <div class="ticks-tick" style="left: 100%"></div>
          </div>
          <div class="span-bar-wrapper">
            <!-- 离上下两个的间距 -->
            <div class="span-bar" [style.width]="node.widthGap" [style.left]="node.leftGap" style="background: #bf444c;">
              <div class="span-bar-label is-top-left">{{node.lastServiceGap}}ms</div>
            </div>
            <div class="span-bar" [style.width]="node.width" [style.left]="node.left" style="background: rgb(23, 184, 190);">
              <div class="span-bar-label is-right">{{ node.length }}ms</div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="virtualized-traceView-row" >
      <div class="flex-row detail-row">
        <div class="ub-relative" style="flex-basis: 25%;max-width: 25%;">
        <span class="span-tree-offset">
          <!--   判断是几层child 就几个child       -->
          <span *ngFor="let i of counter(node.index)" class="span-tree-offset-indentGuide"></span>
<!--          <span class="span-tree-offset-indentGuide"></span>-->
        </span>
          <span>
          <span style="border-color: rgb(23, 184, 190);" class="detail-row-expanded-accent"></span>
        </span>
        </div>
        <div class="ub-relative" style="flex-basis: 75%;max-width: 75%;">
          <div class="detail-info-wrapper" style="border-top-color: rgb(23, 184, 190);">
            <div>
              <div class="ub-flex ub-items-center">
                <h2 class="ub-flex-auto ub-m0">{{node.name}}</h2>
                <ul class="labeled-list ub-tx-right-align">
                <span>
                  <li class="labeled-list-item">
                    <span class="labeled-list-label">name:</span>
                    <strong>{{node.name}}</strong>
                  </li>
                  <li class="labeled-list-item">
                    <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                  </li>
                </span>
                  <span>
                  <li class="labeled-list-item">
                    <span class="labeled-list-label">requestId:</span>
                    <strong>{{node.requestId}}</strong>
                  </li>
                  <li class="labeled-list-item">
                    <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                  </li>
                </span>
                  <span>
                  <li class="labeled-list-item">
                    <span class="labeled-list-label">start time:</span>
                    <strong>{{node.startTime | date: 'yyyy-MM-dd HH:mm:ss'}}</strong>
                  </li>
                  <li class="labeled-list-item">
                    <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                  </li>
                </span>
                </ul>
              </div>
              <div class="span-detail-divider ant-divider-horizontal ub-my1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="node.children" [treeData]="node.children" app-recursive-root></div>
</div>
