<div class="jaeger-list">
  <div nz-form nzLayout="inline" [formGroup]="searchForm" class="jaeger-list-header">
    <button nz-button nzType="primary" (click)="refresh.emit()">刷新</button>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzNoColon>数量</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <!--        <input nz-input formControlName="size" placeholder="size" nzSize="small">-->
        <nz-input-number formControlName="size" nzSize="small" [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzNoColon>开始时间</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-date-picker
                [nzDisabledDate]="disabledStartDate"
                nzSize="small"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                formControlName="startTime"
                nzPlaceHolder="startTime"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzNoColon>结束时间</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-date-picker
                [nzDisabledDate]="disabledEndDate"
                nzSize="small"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                formControlName="endTime"
                nzPlaceHolder="endTime"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="18" nzNoColon>特殊记录</nz-form-label>
      <nz-form-control [nzSpan]="10">
        <label nz-checkbox formControlName="isIgnore"></label>
      </nz-form-control>
    </nz-form-item >
  </div>
  <div style="height: 300px; margin-top: 20px">
<!--  ngx-charts 散点图  -->
<!--    <ngx-charts-bubble-chart-->
<!--        [scheme]="colorScheme"-->
<!--        [results]="bubbleData"-->
<!--        xAxis="true"-->
<!--        yAxis="true"-->
<!--        showXAxisLabel="true"-->
<!--        showYAxisLabel="false"-->
<!--        autoScale="true"-->
<!--        [yScaleMin]="yScaleMin"-->
<!--        [yScaleMax]="yScaleMax"-->
<!--        maxRadius="10"-->
<!--        minRadius="5">-->
<!--    </ngx-charts-bubble-chart>-->
<!-- ngx-charts 热图   -->
<!--    <ngx-charts-heat-map-->
<!--            [scheme]="colorScheme"-->
<!--            [legend]="true"-->
<!--            [showXAxisLabel]="true"-->
<!--            [showYAxisLabel]="true"-->
<!--            [xAxis]="true"-->
<!--            [yAxis]="true"-->
<!--            xAxisLabel="时间"-->
<!--            yAxisLabel="key"-->
<!--            [results]="multi">-->
<!--    </ngx-charts-heat-map>-->

<!--    echarts 热力图-->
    <div style="height: 100%;" id="echarts"></div>
  </div>
  <ul class="jaeger-ub-list-reset">
    <li class="jaeger-ub-my3" *ngFor="let jaeger of jaegerList; let i = index">
      <div class="j-result-item" nz-button>
        <div class="j-result-item-title" *ngIf="!jaeger._source.isError">
          <a [routerLink]="'/trace/' + jaeger._source.requestId" class="j-result-item-title-item j-ub-flex-auto">
            <span class="j-result-item-key" *ngFor="let time of jaeger._source.allTimeCostArr">
              <span>{{time.name}}</span>
              <span>{{time.value}}</span>
            </span>
            <span class="j-ub-right">ms</span>
          </a>
        </div>
        <div class="j-result-item-error" *ngIf="jaeger._source.isError">
          <a [routerLink]="'/trace/' + jaeger._source.requestId" class="j-result-item-title-item j-ub-flex-auto">
            <span class="j-ub-center">{{jaeger._source.message}}</span>
          </a>
        </div>
        <a [routerLink]="'/trace/' + jaeger._source.requestId">
          <div class="j-ant-row">
            <div class="j-ant-col-16 j-ub-p3">
              <div class="j-ant-tag j-result-item-serviceTag">{{ jaeger._source.requestId }}</div>
            </div>
            <div class="j-ant-col-4 j-ub-p3 j-ub-tx-right-align">
              <div>
                <span>{{ jaeger._source.createTime | date: 'yyyy-MM-dd' }}</span>
                <div class="j-ant-divider j-ant-divider-vertical"></div>
              </div>
              <div>{{ jaeger._source.createTime | date: 'HH:mm:ss a' }}</div>
              <small>{{ jaeger._source.timeAgo }}</small>
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
  <nz-empty nzNotFoundImage="simple" *ngIf="jaegerList.length === 0;"></nz-empty>
  <div *ngIf="isLoadingEnd && jaegerList.length > 0" class="footer-content">没有更多内容了</div>
</div>
