<!--<div class="flex-row timeline-headerRow">-->
<!--  <div style="flex-basis: 25%;max-width: 25%;" class="ub-relative ub-flex ub-px2">-->
<!--    <h3 class="timeline-headerRow-title">section & section</h3>-->
<!--    <div class="timeline-collapser">-->
<!--      <i class="ant-icon timeline-collapser-btn" nz-icon nzType="down" nzTheme="outline"></i>-->
<!--      <i class="ant-icon timeline-collapser-btn" nz-icon nzType="right" nzTheme="outline"></i>-->
<!--      <i class="ant-icon timeline-collapser-btn" nz-icon nzType="caret-down" nzTheme="outline"></i>-->
<!--      <i class="ant-icon timeline-collapser-btn" nz-icon nzType="caret-right" nzTheme="outline"></i>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="flex-basis: 75%;max-width: 75%;" class="ub-relative">-->
<!--    <div class="timeline-viewing-layer"></div>-->
<!--    <div class="ticks">-->
<!--      <div style="left: 0%;" class="ticks-tick">-->
<!--        <span class="ticks-tickLabel">0ms</span>-->
<!--      </div>-->
<!--      <div style="left: 25%;" class="ticks-tick">-->
<!--        <span class="ticks-tickLabel">250ms</span>-->
<!--      </div>-->
<!--      <div style="left: 50%;" class="ticks-tick">-->
<!--        <span class="ticks-tickLabel">500ms</span>-->
<!--      </div>-->
<!--      <div style="left: 75%;" class="ticks-tick">-->
<!--        <span class="ticks-tickLabel">750ms</span>-->
<!--      </div>-->
<!--      <div style="left: 100%;" class="ticks-tick">-->
<!--        <span class="ticks-tickLabel">1s</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="vertical-resizer">-->
<!--    <div style="left: 25%;" class="vertical-resizer-gripIcon"></div>-->
<!--    <div style="left: 25%;" class="vertical-resizer-dragger"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="tree-jaeger">-->
<!--  <nz-tree-->
<!--      nzBlockNode-->
<!--      [nzData]="nodes"-->
<!--      (nzClick)="activeNode($event)"-->
<!--      (nzDblClick)="openFolder($event)"-->
<!--      [nzTreeTemplate]="nzTreeTemplate"-->
<!--  ></nz-tree>-->
<!--</div>-->
<!--<ng-template #nzTreeTemplate let-node let-origin="origin" let-i=index>-->
<!--  <div class="custom-node" style="width: 100%;">-->
<!--&lt;!&ndash;    <div  *ngFor="let node of nodes; let i = index">&ndash;&gt;-->
<!--      <div  class="virtualized-traceView-rowsWrapper">-->
<!--        <div>-->
<!--          <div  class="virtualized-traceView-row">-->
<!--            <div class="flex-row span-row is-expanded">-->
<!--              <div style="flex-basis: 25%; max-width: 25%;" class="ub-relative span-name-column">-->
<!--                <div class="span-name-wrapper">-->
<!--                    <span class="span-tree-offset" (click)="isChildContent($event, i)">-->
<!--                      <span class="span-tree-offset-indentGuide"></span>-->
<!--                      <span class="span-tree-offset-iconWrapper">-->
<!--                        <i *ngIf="!node.isShow" style="vertical-align: middle;" nz-icon nzType="right" nzTheme="outline"></i>-->
<!--                        <i *ngIf="node.isShow" style="vertical-align: middle;" nz-icon nzType="down" nzTheme="outline"></i>-->
<!--                      </span>-->
<!--                    </span>-->
<!--                  <a (click)="isChildExpanded(i)" style="border-color: rgb(23, 184, 190);" class="span-name is-detail-expanded">-->
<!--                    <span class="span-svc-name">{{node.title}}</span>-->
<!--                    <small class="endpoint-name">{{node.subTitle}}</small>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div (click)="isChildExpanded(i)" style="cursor: pointer;flex-basis: 75%;max-width: 75%;" class="ub-relative span-view">-->
<!--                <div class="ticks">-->
<!--                  <div class="ticks-tick" style="left: 0%"></div>-->
<!--                  <div class="ticks-tick" style="left: 25%"></div>-->
<!--                  <div class="ticks-tick" style="left: 50%"></div>-->
<!--                  <div class="ticks-tick" style="left: 75%"></div>-->
<!--                  <div class="ticks-tick" style="left: 100%"></div>-->
<!--                </div>-->
<!--                <div class="span-bar-wrapper">-->
<!--                  <div class="span-bar" style="background: rgb(23, 184, 190);left: 0%;width: 100%;">-->
<!--                    <div class="span-bar-label is-right">1s</div>-->
<!--                  </div>-->
<!--                  <div></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="node.isShowContent" class="virtualized-traceView-row" >-->
<!--            <div class="flex-row detail-row">-->
<!--              <div class="ub-relative" style="flex-basis: 25%;max-width: 25%;">-->
<!--                <span class="span-tree-offset is-parent">-->
<!--                  <span class="span-tree-offset-indentGuide"></span>-->
<!--                </span>-->
<!--                <span>-->
<!--                  <span style="border-color: rgb(23, 184, 190);" class="detail-row-expanded-accent"></span>-->
<!--                </span>-->
<!--              </div>-->
<!--              <div class="ub-relative" style="flex-basis: 75%;max-width: 75%;">-->
<!--                <div class="detail-info-wrapper" style="border-top-color: rgb(23, 184, 190);">-->
<!--                  <div>-->
<!--                    <div class="ub-flex ub-items-center">-->
<!--                      <h2 class="ub-flex-auto ub-m0">{{node.subTitle}}</h2>-->
<!--                      <ul class="labeled-list ub-tx-right-align">-->
<!--                        <span>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <span class="labeled-list-label">services:</span>-->
<!--                            <strong>{{node.title}}</strong>-->
<!--                          </li>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>-->
<!--                          </li>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <span class="labeled-list-label">duration:</span>-->
<!--                            <strong>1s</strong>-->
<!--                          </li>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>-->
<!--                          </li>-->
<!--                        </span>-->
<!--                        <span>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <span class="labeled-list-label">start time:</span>-->
<!--                            <strong>0um</strong>-->
<!--                          </li>-->
<!--                          <li class="labeled-list-item">-->
<!--                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>-->
<!--                          </li>-->
<!--                        </span>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                    <div class="span-detail-divider ant-divider-horizontal ub-my1"></div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <div class="u-tx-ellipsis" *ngFor="let tag of node.tags; let tid = index">-->
<!--                          <div class="accordian-key-values-header" (click)="showTags(i, tid)">-->
<!--                            <i *ngIf="!tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>-->
<!--                            <i *ngIf="tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="down" nzTheme="outline"></i>-->
<!--                            <strong>{{tag.name}}:</strong>-->
<!--                            <ul class="accordian-key-values-summary" *ngIf="!tag.isTags">-->
<!--                              <li class="accordian-key-values-summaryItem" *ngFor="let tagTit of tag.tagsContent">-->
<!--                                <span class="accordian-key-values-summaryLabel">{{tagTit.name}}</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                {{tagTit.value}}-->
<!--                              </li>-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.params</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                true-->
<!--                              </li>-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.type</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                const-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                          </div>-->
<!--                          <div class="key-value-table u-simple-scrollbars" *ngIf="tag.isTags">-->
<!--                            <table class="u-width-100">-->
<!--                              <tbody class="key-value-table-body">-->
<!--                              <tr class="key-value-table-row" *ngFor="let tagCont of tag.tagsContent; let tid = index">-->
<!--                                <td class="key-value-table-keyColumn">{{tagCont.name}}</td>-->
<!--                                <td><div class="ub-inline-block">-->
<!--                                  <div class="json-markup">-->
<!--                                    <span [style.color]="tagCont.isBool ? '#b22222' : 'teal'">{{tagCont.value}}</span>-->
<!--                                  </div>-->
<!--                                </div></td>-->
<!--                                <td class="key-value-table-copyColumn">-->
<!--                                  <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">-->
<!--                                      <span nz-tooltip nzTooltipTitle="Copy JSON">-->
<!--                                         <i nz-icon nzType="copy" nzTheme="outline"></i>-->
<!--                                      </span>-->
<!--                                  </button>-->
<!--                                </td>-->
<!--                              </tr>-->
<!--                              <tr class="key-value-table-row">-->
<!--                                <td class="key-value-table-keyColumn">internal.span.bool</td>-->
<!--                                <td><div class="ub-inline-block">-->
<!--                                  <div class="json-markup">-->
<!--                                    <span class="json-markup-bool">true</span>-->
<!--                                  </div>-->
<!--                                </div></td>-->
<!--                                <td class="key-value-table-copyColumn">-->
<!--                                  <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">-->
<!--                                    <i nz-icon nzType="copy" nzTheme="outline"></i>-->
<!--                                  </button>-->
<!--                                </td>-->
<!--                              </tr>-->
<!--                              </tbody>-->
<!--                            </table>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="ub-mb1 u-tx-ellipsis">-->
<!--                          <div class="accordian-key-values-header">-->
<!--                            <i style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>-->
<!--                            <strong>Process:</strong>-->
<!--                            <ul class="accordian-key-values-summary">-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.uiid</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                proto-->
<!--                              </li>-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.hostname</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                zhangsan-->
<!--                              </li>-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.ip</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                172.16.18.108-->
<!--                              </li>-->
<!--                              <li class="accordian-key-values-summaryItem">-->
<!--                                <span class="accordian-key-values-summaryLabel">span.jaeger</span>-->
<!--                                <span class="accordian-key-values-summaryDelim">=</span>-->
<!--                                const-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <small class="span-detail-debugInfo">-->
<!--                        <span class="span-detail-debugLabel">spanId:</span>-->
<!--                        id2938e7374-->
<!--                        <button nz-button class="copy-icon" nzSize="small"><i nz-icon nzType="link" nzTheme="outline"></i></button>-->
<!--                      </small>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    <span>&ndash;&gt;-->
<!--&lt;!&ndash;      <nz-collapse>&ndash;&gt;-->
<!--&lt;!&ndash;        <nz-collapse-panel [nzHeader]="coll" [nzShowArrow]="false">&ndash;&gt;-->
<!--&lt;!&ndash;          <p style="margin:0;">&ndash;&gt;-->
<!--&lt;!&ndash;            {{node.title}}&ndash;&gt;-->
<!--&lt;!&ndash;          </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </nz-collapse-panel>&ndash;&gt;-->
<!--&lt;!&ndash;      </nz-collapse>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template #coll>&ndash;&gt;-->
<!--&lt;!&ndash;        <div style="display: flex; width: 100vw;">&ndash;&gt;-->
<!--&lt;!&ndash;          <div style="width: 100px;">&ndash;&gt;-->
<!--&lt;!&ndash;            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="folder-name">{{ node.title }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="folder-desc">created by {{ origin.author | lowercase }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </div>-->
<!--</ng-template>-->


<!--<div class="jaeger-tree">-->
<!--  <div class="tree-left">-->
<!--    <ul *ngFor="let node of nodes; let i = index">-->
<!--      <li class="tree-common-left" (click)="showNodeContent(i)">-->
<!--        <i (click)="showNode($event, i)" class="tree-common-left-icon" nz-icon nzType="down" nzTheme="outline"></i>-->
<!--        <span class="tree-common">{{node.title}}</span>-->
<!--        <div *ngIf="node.isShowContent" class="child-bg">sm</div>-->
<!--        <ul *ngFor="let child of node.children">-->
<!--          <li *ngIf="node.isShow" class="tree-common">{{child.title}}</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="tree-right">-->
<!--    <ul *ngFor="let node of nodes; let i = index">-->
<!--      <li (click)="showNodeContent(i)">-->
<!--        <div class="tree-common center">-->
<!--          <div class="tree-common-right" ></div>-->
<!--        </div>-->
<!--        <div *ngIf="node.isShowContent" id="child">sm</div>-->
<!--        <ul *ngFor="let child of node.children">-->
<!--          <li *ngIf="node.isShow" class="tree-common"></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<nz-tree [nzData]="nodes" nzShowLine (nzClick)="activeNode($event)" (nzDblClick)="openFolder($event)" [nzTreeTemplate]="nzTemplate"></nz-tree>-->
<!--<ng-template #nzTemplate>-->

<!--</ng-template>-->

<div class="trace-timeline-viewer">
  <div class="flex-row timeline-headerRow">
    <div style="flex-basis: 25%;max-width: 25%;" class="ub-relative ub-flex ub-px2">
      <h3 class="timeline-headerRow-title">section & section</h3>
      <div class="timeline-collapser">
        <i class="ant-icon timeline-collapser-btn" nz-icon nzType="down" nzTheme="outline"></i>
        <i class="ant-icon timeline-collapser-btn" nz-icon nzType="right" nzTheme="outline"></i>
        <i class="ant-icon timeline-collapser-btn" nz-icon nzType="caret-down" nzTheme="outline"></i>
        <i class="ant-icon timeline-collapser-btn" nz-icon nzType="caret-right" nzTheme="outline"></i>
      </div>
    </div>
    <div style="flex-basis: 75%;max-width: 75%;" class="ub-relative">
      <div class="timeline-viewing-layer"></div>
      <div class="ticks">
        <div style="left: 0%;" class="ticks-tick">
          <span class="ticks-tickLabel">0ms</span>
        </div>
        <div style="left: 25%;" class="ticks-tick">
          <span class="ticks-tickLabel">250ms</span>
        </div>
        <div style="left: 50%;" class="ticks-tick">
          <span class="ticks-tickLabel">500ms</span>
        </div>
        <div style="left: 75%;" class="ticks-tick">
          <span class="ticks-tickLabel">750ms</span>
        </div>
        <div style="left: 100%;" class="ticks-tick">
          <span class="ticks-tickLabel">1s</span>
        </div>
      </div>
    </div>
    <div class="vertical-resizer">
      <div style="left: 25%;" class="vertical-resizer-gripIcon"></div>
      <div style="left: 25%;" class="vertical-resizer-dragger"></div>
    </div>
  </div>
  <div class="virtualized-traceView-spans">
    <div style="position: relative;">
      <div  *ngFor="let node of nodes; let i = index">
        <div  class="virtualized-traceView-rowsWrapper">
          <div>
            <div  class="virtualized-traceView-row">
              <div class="flex-row span-row is-expanded">
                <div style="flex-basis: 25%; max-width: 25%;" class="ub-relative span-name-column">
                  <div class="span-name-wrapper">
                    <span class="span-tree-offset" (click)="isChildContent($event, i)">
                      <span class="span-tree-offset-indentGuide"></span>
                      <span class="span-tree-offset-iconWrapper">
                        <i *ngIf="!node.isShow" style="vertical-align: middle;" nz-icon nzType="right" nzTheme="outline"></i>
                        <i *ngIf="node.isShow" style="vertical-align: middle;" nz-icon nzType="down" nzTheme="outline"></i>
                      </span>
                    </span>
                    <a (click)="isChildExpanded(i)" style="border-color: rgb(23, 184, 190);" class="span-name is-detail-expanded">
                      <span class="span-svc-name">{{node.title}}</span>
                      <small class="endpoint-name">{{node.subTitle}}</small>
                    </a>
                  </div>
                </div>
                <div (click)="isChildExpanded(i)" style="cursor: pointer;flex-basis: 75%;max-width: 75%;" class="ub-relative span-view">
                  <div class="ticks">
                    <div class="ticks-tick" style="left: 0%"></div>
                    <div class="ticks-tick" style="left: 25%"></div>
                    <div class="ticks-tick" style="left: 50%"></div>
                    <div class="ticks-tick" style="left: 75%"></div>
                    <div class="ticks-tick" style="left: 100%"></div>
                  </div>
                  <div class="span-bar-wrapper">
                    <div class="span-bar" style="background: rgb(23, 184, 190);left: 0%;width: 100%;">
                      <div class="span-bar-label is-right">1s</div>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="node.isShowContent" class="virtualized-traceView-row" >
              <div class="flex-row detail-row">
                <div class="ub-relative" style="flex-basis: 25%;max-width: 25%;">
                <span class="span-tree-offset is-parent">
                  <span class="span-tree-offset-indentGuide"></span>
                </span>
                  <span>
                  <span style="border-color: rgb(23, 184, 190);" class="detail-row-expanded-accent"></span>
                </span>
                </div>
                <div class="ub-relative" style="flex-basis: 75%;max-width: 75%;">
                  <div class="detail-info-wrapper" style="border-top-color: rgb(23, 184, 190);">
                    <div>
                      <div class="ub-flex ub-items-center">
                        <h2 class="ub-flex-auto ub-m0">{{node.subTitle}}</h2>
                        <ul class="labeled-list ub-tx-right-align">
                        <span>
                          <li class="labeled-list-item">
                            <span class="labeled-list-label">services:</span>
                            <strong>{{node.title}}</strong>
                          </li>
                          <li class="labeled-list-item">
                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                          </li>
                        </span>
                          <span>
                          <li class="labeled-list-item">
                            <span class="labeled-list-label">duration:</span>
                            <strong>1s</strong>
                          </li>
                          <li class="labeled-list-item">
                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                          </li>
                        </span>
                          <span>
                          <li class="labeled-list-item">
                            <span class="labeled-list-label">start time:</span>
                            <strong>0um</strong>
                          </li>
                          <li class="labeled-list-item">
                            <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                          </li>
                        </span>
                        </ul>
                      </div>
                      <div class="span-detail-divider ant-divider-horizontal ub-my1"></div>
                      <div>
                        <div>
                          <div class="u-tx-ellipsis" *ngFor="let tag of node.tags; let tid = index">
                            <div class="accordian-key-values-header" (click)="showTags(i, tid)">
                              <i *ngIf="!tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>
                              <i *ngIf="tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="down" nzTheme="outline"></i>
                              <strong>{{tag.name}}:</strong>
                              <ul class="accordian-key-values-summary" *ngIf="!tag.isTags">
                                <li class="accordian-key-values-summaryItem" *ngFor="let tagTit of tag.tagsContent">
                                  <span class="accordian-key-values-summaryLabel">{{tagTit.name}}</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  {{tagTit.value}}
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.params</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  true
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.type</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  const
                                </li>
                              </ul>
                            </div>
                            <div class="key-value-table u-simple-scrollbars" *ngIf="tag.isTags">
                              <table class="u-width-100">
                                <tbody class="key-value-table-body">
                                <tr class="key-value-table-row" *ngFor="let tagCont of tag.tagsContent; let tid = index">
                                  <td class="key-value-table-keyColumn">{{tagCont.name}}</td>
                                  <td><div class="ub-inline-block">
                                    <div class="json-markup">
                                      <span [style.color]="tagCont.isBool ? '#b22222' : 'teal'">{{tagCont.value}}</span>
                                    </div>
                                  </div></td>
                                  <td class="key-value-table-copyColumn">
                                    <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">
                                      <span nz-tooltip nzTooltipTitle="Copy JSON">
                                         <i nz-icon nzType="copy" nzTheme="outline"></i>
                                      </span>
                                    </button>
                                  </td>
                                </tr>
                                <tr class="key-value-table-row">
                                  <td class="key-value-table-keyColumn">internal.span.bool</td>
                                  <td><div class="ub-inline-block">
                                    <div class="json-markup">
                                      <span class="json-markup-bool">true</span>
                                    </div>
                                  </div></td>
                                  <td class="key-value-table-copyColumn">
                                    <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">
                                      <i nz-icon nzType="copy" nzTheme="outline"></i>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="ub-mb1 u-tx-ellipsis">
                            <div class="accordian-key-values-header">
                              <i style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>
                              <strong>Process:</strong>
                              <ul class="accordian-key-values-summary">
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.uiid</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  proto
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.hostname</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  zhangsan
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.ip</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  172.16.18.108
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.jaeger</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  const
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <small class="span-detail-debugInfo">
                          <span class="span-detail-debugLabel">spanId:</span>
                          id2938e7374
                          <button nz-button class="copy-icon" nzSize="small"><i nz-icon nzType="link" nzTheme="outline"></i></button>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--   是否有子集       -->
          <div *ngFor="let child of node.children; let idx = index">
            <!--   子集 图的一层         -->
            <div *ngIf="node.isShow" class="virtualized-traceView-row">
              <div class="flex-row span-row is-expanded" (click)="isChildExpanded(i, idx)">
                <div style="flex-basis: 25%; max-width: 25%;" class="ub-relative span-name-column">
                  <div class="span-name-wrapper">
                    <span class="span-tree-offset">
                      <span class="span-tree-offset-indentGuide"></span>
                      <span class="span-tree-offset-indentGuide"></span>
                    </span>
                    <a style="border-color: rgb(23, 184, 190);" class="span-name is-detail-expanded">
                      <span class="span-svc-name">{{child.title}}</span>
                      <small class="endpoint-name">{{child.subTitle}}</small>
                    </a>
                  </div>
                </div>
                <div style="cursor: pointer;flex-basis: 75%;max-width: 75%;" class="ub-relative span-view">
                  <div class="ticks">
                    <div class="ticks-tick" style="left: 0%"></div>
                    <div class="ticks-tick" style="left: 25%"></div>
                    <div class="ticks-tick" style="left: 50%"></div>
                    <div class="ticks-tick" style="left: 75%"></div>
                    <div class="ticks-tick" style="left: 100%"></div>
                  </div>
                  <div class="span-bar-wrapper">
                    <div class="span-bar" [style.width]="child.width" [style.left]="child.left" style="background: rgb(23, 184, 190);width: 50%;">
                      <div class="span-bar-label is-right">500ms</div>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <!--    内容展示      -->
            <div *ngIf="node.isShow" class="virtualized-traceView-row" >
              <div *ngIf="child.isLeaf" class="flex-row detail-row">
                <div class="ub-relative" style="flex-basis: 25%;max-width: 25%;">
                  <span class="span-tree-offset">
                    <span class="span-tree-offset-indentGuide"></span>
                    <span class="span-tree-offset-indentGuide"></span>
                  </span>
                  <span>
                    <span style="border-color: rgb(23, 184, 190);" class="detail-row-expanded-accent"></span>
                  </span>
                </div>
                <div class="ub-relative" style="flex-basis: 75%;max-width: 75%;">
                  <div class="detail-info-wrapper" style="border-top-color: rgb(23, 184, 190);">
                    <div>
                      <div class="ub-flex ub-items-center">
                        <h2 class="ub-flex-auto ub-m0">{{child.subTitle}}</h2>
                        <ul class="labeled-list ub-tx-right-align">
                          <span>
                            <li class="labeled-list-item">
                              <span class="labeled-list-label">services:</span>
                              <strong>{{child.title}}</strong>
                            </li>
                            <li class="labeled-list-item">
                              <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                            </li>
                          </span>
                          <span>
                            <li class="labeled-list-item">
                              <span class="labeled-list-label">duration:</span>
                              <strong>1s</strong>
                            </li>
                            <li class="labeled-list-item">
                              <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                            </li>
                          </span>
                          <span>
                            <li class="labeled-list-item">
                              <span class="labeled-list-label">start time:</span>
                              <strong>0um</strong>
                            </li>
                            <li class="labeled-list-item">
                              <div class="span-detail-divider ant-divider ant-divider-vertical"></div>
                            </li>
                          </span>
                        </ul>
                      </div>
                      <div class="span-detail-divider ant-divider-horizontal ub-my1"></div>
                      <div>
                        <div>
                          <div class="u-tx-ellipsis" *ngFor="let tag of child.tags; let childTid = index">
                            <div class="accordian-key-values-header" (click)="showTags(i, idx, childTid)">
                              <i *ngIf="!tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>
                              <i *ngIf="tag.isTags" style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="down" nzTheme="outline"></i>
                              <strong>{{tag.name}}:</strong>
                              <ul class="accordian-key-values-summary" *ngIf="!tag.isTags">
                                <li class="accordian-key-values-summaryItem" *ngFor="let tagTit of tag.tagsContent">
                                  <span class="accordian-key-values-summaryLabel">{{tagTit.name}}</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  {{tagTit.value}}
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.params</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  true
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.type</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  const
                                </li>
                              </ul>
                            </div>
                            <div class="key-value-table u-simple-scrollbars" *ngIf="tag.isTags">
                              <table class="u-width-100">
                                <tbody class="key-value-table-body">
                                <tr class="key-value-table-row" *ngFor="let childTag of tag.tagsContent">
                                  <td class="key-value-table-keyColumn">{{childTag.name}}</td>
                                  <td><div class="ub-inline-block">
                                    <div class="json-markup">
                                      <span [style.color]="childTag.isBool ? '#b22222' : 'teal'" class="json-markup-string">{{childTag.value}}</span>
                                    </div>
                                  </div></td>
                                  <td class="key-value-table-copyColumn">
                                    <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">
                                      <span nz-tooltip nzTooltipTitle="Copy JSON">
                                         <i nz-icon nzType="copy" nzTheme="outline"></i>
                                      </span>
                                    </button>
                                  </td>
                                </tr>
                                <tr class="key-value-table-row">
                                  <td class="key-value-table-keyColumn">internal.span.bool</td>
                                  <td><div class="ub-inline-block">
                                    <div class="json-markup">
                                      <span class="json-markup-bool">true</span>
                                    </div>
                                  </div></td>
                                  <td class="key-value-table-copyColumn">
                                    <button nz-button class="key-value-table-copyIcon copyIcon ant-btn-icon-only">
                                      <i nz-icon nzType="copy" nzTheme="outline"></i>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="ub-mb1 u-tx-ellipsis">
                            <div class="accordian-key-values-header">
                              <i style="vertical-align: middle;" class="u-align-icon" nz-icon nzType="right" nzTheme="outline"></i>
                              <strong>Process:</strong>
                              <ul class="accordian-key-values-summary">
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.uiid</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  proto
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.hostname</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  zhangsan
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.ip</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  172.16.18.108
                                </li>
                                <li class="accordian-key-values-summaryItem">
                                  <span class="accordian-key-values-summaryLabel">span.jaeger</span>
                                  <span class="accordian-key-values-summaryDelim">=</span>
                                  const
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <small class="span-detail-debugInfo">
                          <span class="span-detail-debugLabel">spanId:</span>
                          id2938e7374
                          <button nz-button class="copy-icon" nzSize="small"><i nz-icon nzType="link" nzTheme="outline"></i></button>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="node.isShow" class="virtualized-traceView-row">
            <div class="flex-row span-row is-expanded">
              <div style="flex-basis: 25%; max-width: 25%;" class="ub-relative span-name-column">
                <div class="span-name-wrapper">
                  <span class="span-tree-offset">
                    <span class="span-tree-offset-indentGuide"></span>
                    <span class="span-tree-offset-indentGuide"></span>
                  </span>
                  <a style="border-color: rgb(23, 184, 190);" class="span-name is-detail-expanded">
                    <span class="span-svc-name">jaeger</span>
                    <small class="endpoint-name">span_root</small>
                  </a>
                </div>
              </div>
              <div style="cursor: pointer;flex-basis: 75%;max-width: 75%;" class="ub-relative span-view">
                <div class="ticks">
                  <div class="ticks-tick" style="left: 0%"></div>
                  <div class="ticks-tick" style="left: 25%"></div>
                  <div class="ticks-tick" style="left: 50%"></div>
                  <div class="ticks-tick" style="left: 75%"></div>
                  <div class="ticks-tick" style="left: 100%"></div>
                </div>
                <div class="span-bar-wrapper">
                  <div class="span-bar" style="background: rgb(23, 184, 190);left: 50%;width: 50%;">
                    <div class="span-bar-label is-right">500ms</div>
                  </div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
