<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="180px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>{{section.toUpperCase()}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngFor="let menu of sectionItem">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="menu.icon"></i>
        <span>
          <a [routerLink]="'/' + section + '/' + menu.id">{{menu.name}}</a>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-head">
      <div style="display: flex;">
        <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        </div>
        <ul nz-menu nzMode="horizontal" *ngFor="let item of sections">
          <li nz-menu-item [nzMatchRouter]="item.id">
            <a [routerLink]="'/' + item.id">{{item.name}}</a>
          </li>
        </ul>
      </div>
      <div class="app-header-right">
        <nz-avatar [nzSize]="32" nzIcon="user"></nz-avatar>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          username
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>退出</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
